node_modules
.next
out
.vercel
.netlify
dist
build

.env
.env.*
!.env.local.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
*.log
test-artifacts/
Thumbs.db
.DS_Store
